body {
  font-family: Arial;
}

#chatbox {
  font-size: 15px;
  width: 400px;
  height: 100px;
  vertical-align: top;
  font-family: Arial;
  padding: 10px;
}

#volume-controls {
  margin: 10px;
}

.volume-control {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 120px;
  border: 1px solid #000;
  line-height: 30px;
  text-align: center;
}

#volume-up {
}

#volume-down {
}
