%html
  %head
    %link{:rel => "stylesheet", :href => "/stylesheets/speaker.css"}
    %script{:language => "javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
    %script{:language => "javascript", :src => "/javascript/speaker.js"}
  %body
    Enter to speak!
    %br
    %textarea#chatbox
      boom
    
    